body {
  background-color: Cyan;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: brown;
  font-size: 40px;
  font-weight: bold
}

h2 {
  color: purple;
  font-size:30px;
  font-weight: bold
}

p {
  color: Crimson;
  font-size:30px;
  font-weight: italic;
}
